#main-container 
	position: absolute
	top: 0 //back to zero when done debugging
	left: 0 //back to zero when done debugging
	width: 500vw
	height: 300vh
	transition: top 1s ease-in-out, left 1s ease-in-out
	background-color: $eerieBlack

#main-container.dev
	left: -200vw
	top: -100vh
	transform: scale(0.15)

.content
	$shadow-blur: 5px
	$tag-shadow: 0px 0px $shadow-blur currentColor, 0px 0px $shadow-blur currentColor
	&__header
		font-size: $font-lg
		margin-bottom: 3rem
		color: $white
		text-shadow: $tag-shadow !important
		.symbols
			color: $celadonBlue
			text-shadow: $tag-shadow !important
	
	&__body
		transition: height 1000ms ease-in, min-height 1000ms ease-in
		overflow: hidden
		
		&.collapsed
			height: 0px !important
			min-height: 0px !important

	&__img
		display: grid
		place-items: center
		padding: 0.3125rem
		margin-bottom: 1.5rem

		.img-container 
			position: relative
			width: min-content

		&.shadow
		
			.img-container::after 
				pointer-events: none
				content: ""
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				box-shadow: inset 0px 0px 20px 20px $eerieBlack
		

		h4, figcaption
			font-size: $font-xs
			@include breakpoint-up(large)
				font-size: $font-md
			margin-top: 1rem
			margin-bottom: 1rem

			a
				color: yellow
				text-decoration: underline
		
	&__footer
		font-size: $font-lg
		margin-bottom: 3.5rem
		margin-top: 3rem
		color: $white
		text-shadow: $tag-shadow !important
		.symbols
			color: $celadonBlue
			text-shadow: $tag-shadow !important


.row
	position: absolute
	left: 0
	height: 100vh
	width: 100%
	pointer-events: none
	display: flex
	justify-content: space-between
	.bg-guide
		width: 300vw
		height: 100vh
		left: calc( var(--pos) * 200vw ) //--pos must come from the html markup as the style attribute, as in style="--pos: 0;"

		svg
			width: 100%

.top-row
	top: 0

.bottom-row
	bottom: 0

.column
	position: absolute
	top: 0
	height: 100%
	width: 100vw
	pointer-events: none

	.bg-guide
		flex-direction: column
		height: 300vh
		width: 100vw
		top: calc( var(--pos) * 200vh ) // --pos must come from the html markup as the style attribute, as in style="--pos: 0;"

		svg
			position: absolute
			top: 50%
			transform: translateY(-50%)
			height: 105%
			@include breakpoint-up(medium)
				height: 100%

.left-column
	left: 0

.right-column
	right: 0


.bg-guide
	position: absolute
	display: flex
	align-items: center
	visibility: hidden

	svg
		visibility: visible

		circle
			pointer-events: all
			cursor: pointer
			filter: drop-shadow(0px 0px 5px $middleBlueGreen)

		path
			filter: drop-shadow(0px 0px 2px $celadonBlue)


.page
	height: 100vh
	width: 100vw
	display: grid
	place-items: center
	pointer-events: all

	.content
		height: 85%
		width: 79%
		overflow: auto
		
.icon-translate
	position: fixed
	@include breakpoint-up(medium)
		top: 2rem
		right: 2rem
	top: 0.5rem
	right: 0.5rem
	width: 2rem
	height: 2rem
	z-index: 30
	background-color: $white
	display: grid
	place-items: center
	border-radius: 0.25rem
	svg
		color: $eerieBlack

	&__popup
		display: none
		background-color: $white
		padding: 0.5rem
		border-radius: 0.5rem

	&:focus-within .icon-translate__popup
		display: block
		position: absolute
		right: 2rem
		top: 0

	#google_translate_element
		select
			border: none
			border-radius: 0.25rem
			padding: 0.2rem

.transition-overlay
	position: absolute
	inset: 0
	background-color: black
	transition: opacity 200ms ease-in-out
	z-index: 999
	opacity: 0
	pointer-events: none

	&.active
		opacity: 0.5

.nav
	position: fixed
	top: 0
	left: 0
	z-index: 20
	display: flex
	$nav-width: 60%
	$nav-transition: 400ms
	transition: all $nav-transition ease-in-out
	inset: 0
	pointer-events: none

	&.expanded
		width: 100vw
		height: 100vh

		.nav__container
			width: $nav-width

		.nav__hamburguer
			width: 100%
			background-color: $eerieBlack

			.bar1
				transform: translateY(10px) rotate(45deg)

			.bar2
				opacity: 0

			.bar3
				transform: translateY(-10px) rotate(-45deg)

		.nav__backdrop
			width: 100% - $nav-width
			height: 100%
			background-color: #2228

	.nav__backdrop
		width: 0%
		transition: all $nav-transition ease-in-out
		position: absolute
		top: 0
		right: 0
		height: 100vh
		pointer-events: all

	&__options
		transition: all $nav-transition ease-in-out
		color: inherit
		width: 100%
		background-color: $eerieBlack
		display: flex	
		flex-direction: column
		justify-content: center
		overflow: hidden
		flex-grow: 1

	&__option
		letter-spacing: 1px
		text-decoration: none
		list-style: none
		text-transform: capitalize
		margin-bottom: 1rem
		display: flex
		align-items: center
		justify-content: flex-start
		@include breakpoint-up(medium)
			justify-content: center
		margin-left: 1rem
		cursor: pointer
		user-select: none
		$shadow-blur: 0px
		$tag-shadow: 0px 0px $shadow-blur currentColor, 0px 0px $shadow-blur currentColor
		color: $white
		text-shadow: $tag-shadow !important
		.symbols
			color: $celadonBlue
			text-shadow: $tag-shadow !important
			display: inline-block
			margin-inline: 5px

		&:hover, &:active
			color: $white

		&-icon
			margin-right: 0.5rem
			display: block
			min-width: 20px
			min-height: 20px
			background-image: url("../assets/icons/nav-guide.svg")
			background-size: 100%
			background-repeat: no-repeat
			position: relative
			transform: translateY(3px)

	&__hamburguer
		transition: all calc( $nav-transition * 1.2 ) ease-in-out
		cursor: pointer
		$padding-sm: 8px
		$padding-lg: 32px
		$hamburguer-width: 32px
		padding-top: $padding-sm
		padding-left: $padding-sm
		@include breakpoint-up(medium)
			top: $padding-lg
			left: $padding-lg
			width: calc($hamburguer-width + $padding-lg)
			height: calc( $hamburguer-width + $padding-lg )
		width: calc($hamburguer-width + $padding-sm)
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		span
			display: block
			background-color: $white
			height: 2px
			width: $hamburguer-width
			margin-bottom: 8px
			transition: all calc( $nav-transition * 1.2 ) ease-in-out

		
	&__container
		transition: all $nav-transition ease-in-out
		display: flex
		flex-direction: column
		
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 0px
		pointer-events: all
		background-color: $eerieBlack
		// overflow: hidden

// implement an animation for the guide when we want the user to focus on it

.focus-guide-animation
	animation-name: shake-guide
	animation-duration: 400ms
	animation-timing-function: linear
	animation-iteration-count: infinite


@keyframes shake-guide
	0%
		transform: translateY(0px)
	
	33%
		transform: translateY(1px)

	66%
		transform: translateY(-3px)

	100%
		transform: translateY(0px)

		
	
		