.page-home
	display: flex
	flex-direction: column
	align-items: center
	$shadow-blur: 3px
	$tag-shadow: 0px 0px $shadow-blur currentColor, 0px 0px $shadow-blur currentColor
	.content
		display: flex
		flex-direction: column

	header
		display: flex
		flex-direction: column
		justify-content: space-between

	&__title
		font-size: $font-lg
		margin-bottom: 0.25rem
		letter-spacing: 0.25rem
		color: $white
		text-shadow: $tag-shadow !important
		@include breakpoint-up(large)
			margin-bottom: 0.1rem
		margin-top: 3rem
	&__subtitle
		font-size: $font-md
		margin-bottom: 1rem
		@include breakpoint-up(large)
			font-size: $font-md-desktop
			margin-bottom: 2rem

	&__cv-title
		margin-bottom: 0.5rem
		text-transform: capitalize
		font-size: 1.1rem
		font-weight: 400
		color: $white

	&__cv
		display: flex
		flex-direction: column
		align-items: center
		margin-bottom: 1rem

		.img-container
			position: relative
			max-width: 80%

		.cv-overlay
			position: absolute
			inset: 0
			background-color: rgba(0, 0, 0, 0.65)
			display: grid
			place-items: center
			

		.cv
			margin-bottom: 0.5rem
			max-width: 100%
			filter: blur(2px)
			@include breakpoint-up(medium)
				height: 400px
				width: unset
		a.download
			border: 1px solid $text-white
			padding: 0.5rem 1rem
			font-weight: 300
			color: inherit
			text-transform: capitalize

			&:hover, &:active
				background-color: $text-white
				color: $eerieBlack
		
		
	&__hint
		margin-top: auto
		margin-bottom: 0.5rem
		line-height: 1.25
		.guide-icon
			display: inline-block
			background-image: url("../assets/icons/guide.svg")
			background-size: 100%
			background-repeat: no-repeat
			width: 1rem
			height: 1rem
			margin-left: 0.25rem
			margin-right: 0.25rem

